<!-- views/login.ejs -->
<!doctype html>
<html>
<head>
    <title>Node Authentication</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.js"></script>
    <!--Google signin stuff -->
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <meta name="google-signin-client_id" content="854908827131-61b6v2vpva2lh4103h10ad0euhnarge6.apps.googleusercontent.com">

    <script src= "/js/register.js"></script>
    
    
    <style>
        body        { padding-top:80px; }
    </style>
</head>
<body ng-app="app" style="background-image: url(images/water-quality4.jpg); background-size: 100% auto">
<div class="container" ng-controller="RegisterController">

<form class="form-horizontal" name="userForm" ng-submit="registration()" style="opacity:0.8">
<fieldset>
<div container>
<div row>
<div class="well">
<!-- Form Name -->
<legend>Registration</legend>

<div class="form-group">
  <label class="col-md-4 control-label" for="fn">Organization Name</label>  
  <div class="col-md-4">
  <input id="organizationName" name="organizationName" type="text" placeholder="Please provide organization name" ng-model="org.name" class="form-control input-md" required="">
    
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="phone">Logo URL</label>
  <div class="col-md-4">
  <input id="logourl" name="logourl" type="text" placeholder="Please provide a logo" ng-model="org.logo_url" class="form-control input-md" required="">
  </div>
</div>

<!-- Button -->
<div class="form-group">
  <label class="col-md-4 control-label" for="submit"></label>
  <div class="col-md-4">
    <button id="submit" name="submit" ng-click="registerUser(org)" class="btn btn-primary">SUBMIT</button>
  </div>
</div>


<div class="g-signin2" data-onsuccess="onSignIn"></div>
<a href="#" onclick="signOut()">Sign out</a>
<script>
function signOut() {  
      var auth2 = gapi.auth2.getAuthInstance()
    	auth2.signOut().then(function () {
      		console.log('User signed out.')
      });
}

function onSignIn(googleUser) {
  var profile = googleUser.getBasicProfile(),
		    id_token = googleUser.getAuthResponse().id_token,
			g_user = {}

		g_user.name = profile.getName()
		g_user.email = profile.getEmail()
		g_user.token = id_token

		window.localStorage.setItem('g_user', JSON.stringify(g_user))

		console.log('Name: ' + profile.getName())
		console.log('Token: ' + id_token)
		console.log('Image URL: ' + profile.getImageUrl())
		console.log('Email: ' + profile.getEmail()) // This is null if the 'email' scope is not present.
  
}
</script>
</fieldset>

</div>
</div>
</div>
</form>



</div>
</body>
</html>
.
